.detail {
  text-align: left;
}

.image {
  border-radius: 50%;
  overflow:hidden;
  position:relative;
  width:400px;
  aspect-ratio: 1;
}

.name {
  size: 20px;
}

.content {
  display:flex;
  align-items: flex-start;
  gap:20px;
}
